@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-surface-dim: #dcd9d9;
  --color-secondary: #0056c3;
  --color-on-tertiary-container: #f7feff;
  --color-primary-fixed: #ffdad4;
  --color-on-secondary-container: #fefcff;
  --color-on-tertiary-fixed: #1c1b1b;
  --color-error-container: #ffdad6;
  --color-outline-variant: #ebbbb4;
  --color-on-secondary: #ffffff;
  --color-primary-fixed-dim: #ffb4a8;
  --color-background: #fcf9f8;
  --color-tertiary: #5d5c5b;
  --color-outline: #956d67;
  --color-inverse-surface: #313030;
  --color-tertiary-fixed: #e5e2e1;
  --color-error: #ba1a1a;
  --color-tertiary-container: #767474;
  --color-secondary-fixed-dim: #afc6ff;
  --color-surface-container: #f0edec;
  --color-on-background: #1c1b1b;
  --color-on-secondary-fixed: #001944;
  --color-on-error-container: #93000a;
  --color-on-primary-container: #fffbff;
  --color-on-primary-fixed: #410000;
  --color-surface: #fcf9f8;
  --color-tertiary-fixed-dim: #c8c6c5;
  --color-on-error: #ffffff;
  --color-inverse-on-surface: #f3f0ef;
  --color-surface-bright: #fcf9f8;
  --color-inverse-primary: #ffb4a8;
  --color-on-surface: #1c1b1b;
  --color-secondary-fixed: #d9e2ff;
  --color-on-tertiary-fixed-variant: #474646;
  --color-surface-tint: #c00100;
  --color-primary: #bc0100;
  --color-on-primary: #ffffff;
  --color-on-primary-fixed-variant: #930100;
  --color-surface-container-high: #ebe7e7;
  --color-primary-container: #eb0000;
  --color-secondary-container: #2a6fe5;
  --color-surface-variant: #e5e2e1;
  --color-surface-container-highest: #e5e2e1;
  --color-surface-container-low: #f6f3f2;
  --color-on-surface-variant: #603e39;
  --color-on-tertiary: #ffffff;
  --color-on-secondary-fixed-variant: #004299;
  --color-surface-container-lowest: #ffffff;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-on-background;
  }
}
